<template>
  <button
    @click="click"
    :type="data.type"
    class="app-button pt-2 pb-2 pl-3 pr-3 rounded p-relative pointer"
    :class="[data.hasIcon ? 'has-icon' : 'no-icon']"
  >
    <span class="d-block" :class="[data.hasIcon ? 'pr-4' : '']">{{data.text}}</span>
    <i class="p-absolute w-2 h-100 child-center" :class="data.icon"></i>
  </button>
</template>

<script>
export default {
  props: {
    click: {
      type: Function,
      default: () => Function
    },
    data: {
      type: Object,
      default: () => {}
    }
  }
};
</script>

<style>
</style>