
@font-face {
    font-family: "Cairo-Regular";
    src: url('../fonts/Cairo/Cairo-Regular.ttf')
}

@font-face {
    font-family: "Cairo-SemiBold";
    src: url('../fonts/Cairo/Cairo-SemiBold.ttf')
}

@font-face {
    font-family: "Cairo-Bold";
    src: url('../fonts/Cairo/Cairo-Bold.ttf')
}