
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex,
.row,
.child-center {
    display: flex;
}

.f-wrap,
.row {
    flex-wrap: wrap;
}

.align-center,
.child-center {
    align-items: center;
}

.f-center,
.child-center {
    justify-content: center;
}

.f-between {
    justify-content: space-between;
}

.f-around {
    justify-content: space-around;
}

.f-fill {
    flex: 1;
}

.w-100,
.img-cover,
.img-contain {
    width: 100%;
}

.h-100,
.img-cover ,
.img-contain{
    height: 100%;
}

.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.main-bg {
    background: $main-color;
}

.warning-text-color {
    color: $--color-warning;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.w-1 {
    width: 1rem;
}

.w1-25 {
    width: 1.25rem;
}

.w1-5 {
    width: 1.5rem;
}

.w1-75 {
    width: 1.75rem;
}

.w-2 {
    width: 2rem;
}

.h-1 {
    height: 1rem;
}

.h1-25 {
    height: 1.25rem;
}

.h1-5 {
    height: 1.5rem;
}

.h1-75 {
    height: 1.75rem;
}

.h-2 {
    height: 2rem;
}

.d-block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.rounded {
    border-radius: .25rem;
}

.rounded-md {
    border-radius: .5rem;
}

.rounded-pill {
    border-radius: 50rem;
}

.rounded-circle {
    border-radius: 100%;
}