
*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

[tabindex] {
    outline: none;
}

button,
input {
    border: none;
    outline: none;
    background: transparent;
}

a {
    text-decoration: none;
}