
$spaceamounts: (
  1: .25,
  2: .5,
  3: .75,
  4: 1,
  5: 1.5
);
$sides: (top, bottom, left, right);

@each $name, $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$name} {
      margin-#{$side}: #{$space}rem !important;
    }
  
    .p#{str-slice($side, 0, 1)}-#{$name} {
      padding-#{$side}: #{$space}rem !important;
    }
  }
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.m-a {
  margin: auto;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}