

$cairo-regular: "Cairo-Regular";
$cairo-semiBold: "Cairo-SemiBold";
$cairo-bold: "Cairo-Bold";

$--color-primary: #1a5cff;
$--color-success: #46c93a;
$--color-warning: #ffba00;
$--color-danger: #ff4757;

$main-color: #fceb10;
$main-color-hover: #f5d200;
$border-color: #e7e7e7;

/* icon font path, required */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';
// @import "~element-ui/packages/theme-chalk/src/index";