
@import 'reset';
@import 'element-variables';
@import 'fonts';
@import 'spaces';
@import 'helper-classes';

/* scss components */
@import './components/header';
@import './components/hero-slider';
@import './components/sign-modal';

/* scss elements */
@import './element/input';
@import './element/button';

body {
    font-family: $cairo-regular, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    color: #1c1c1c;
}