<template>
  <div class="header-search">
    <form class="header-search__form">
      <div class="app-input-group p-relative">
        <input type="text" class="app-input app-input__medium" placeholder="Search..." />
        <i class="el-icon-search p-absolute child-center w-2 h-100"></i>
      </div>
    </form>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>