<template>
  <div class="header-dropdown">
    <el-dropdown trigger="click">
      <span class="el-dropdown-link pointer">
        <span class="header-dropdown__title">Select City</span>
        <i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item>
          <span class="header-dropdown__items">Abu Dhabi</span>
        </el-dropdown-item>
        <el-dropdown-item>
          <span class="header-dropdown__items">Dubai</span>
        </el-dropdown-item>
        <el-dropdown-item>
          <span class="header-dropdown__items">Ajman</span>
        </el-dropdown-item>
        <el-dropdown-item>
          <span class="header-dropdown__items">Ras Al Khaimah</span>
        </el-dropdown-item>
        <el-dropdown-item>
          <span class="header-dropdown__items">Fujairah</span>
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>