<template>
  <div class="user-auth">
    <div class="user-not-auth">
      <button
        type="button"
        class="user-auth__button rounded pt-2 pb-2 pl-3 pr-3 pointer"
        @click="openAuthModal = true"
      >
        <span>Sign Up</span>
        <i class="el-icon-user-solid ml-1"></i>
      </button>

      <el-dialog :visible.sync="openAuthModal" class="sign-modal">
        <SignUp @closeModal="openAuthModal = false" />
      </el-dialog>
    </div>
  </div>
</template>

<script>
import SignUp from "@/components/Auth/SignUp";

export default {
  data() {
    return {
      openAuthModal: false
    };
  },
  components: {
    SignUp
  }
};
</script>

<style>
</style>