<template>
  <section class="hero-slider-section">
    <div class="hero-carousel">
      <el-carousel :interval="5000" arrow="always">
        <el-carousel-item v-for="item in list" :key="item.id">
          <div class="hero-carousel__item p-absolute w-100 h-100 d-flex align-center">
            <img :src="item.image" alt class="d-block img-cover p-absolute" />

            <div class="container w-100 p-relative">
              <div class="carousel-card pt-5 pr-5 pb-5 pl-5 text-white rounded">
                <h1>{{ item.name }}</h1>
                <p class="mt-2 mb-3">{{ item.description }}</p>

                <router-link to="/" class="app-button pt-2 pb-2 pl-3 pr-3 rounded p-relative">
                  <span class="d-block pr-4">Book Now</span>
                  <i class="el-icon-arrow-right p-absolute w-2 h-100 child-center"></i>
                </router-link>
              </div>
            </div>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div>
  </section>
</template>

<script>

export default {
  data() {
    return {
      list: []
    };
  },
  mounted() {
      this.$http.get("sliders/show?slug=home-slider&lang=en")
      .then(res => {
          this.list = res.data.data.slider.children.data
      })
      .catch();
  }
};
</script>

<style>
</style>