

.header-logo {
    width: 150px;

    & img {
        max-width: 135px;
    }
}

.header-dropdown {

    & .el-dropdown-link {
        color: #1c1c1c;
    }

    &__title {
        font-family: $cairo-bold;
        font-size: 15px;
    }

    & i {
        font-weight: bold;
    }
}

.user-auth {

    &__button {
        background: $main-color-hover;
        font-size: 14px;

        & span {
            font-family: $cairo-semiBold;
            line-height: 1;
        }
    }
}