

.hero-carousel {

    & .el-carousel__container {
        height: auto;
        padding-top: 33.3333%;
    }

    &__item, &__item img {
        top: 0;
    }

    &__item img {
        left: 0;
    }
}

.carousel-card {
    max-width: 550px;
    background: transparentize(#000, 0.4);

    & h1 {
        font-family: $cairo-semiBold;
        font-size: calc(20px + 1vw);
        line-height: 1;
    }

    & p {
        font-size: 1rem;
    }
}