

.sign-modal {

    & .el-dialog {
        width: 375px;
    }

    & .el-dialog__header {
        padding: 0;
    }

    & .el-dialog__headerbtn {
        display: none;
    }
}

.sign-wrap {

    &__img {
        top: -39px;
        right: 50%;
        transform: translateX(50%);
    }
}

.el-checkbox__input.is-checked + .el-checkbox__label {
    color: #1c1c1c;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__inner:hover {
    background-color: $--color-warning;
    border-color: $--color-warning;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: $--color-warning;
}

.social {

    &__items {
        border: 1px solid $border-color;
    }

    .text-divider {
        font-family: $cairo-semiBold;
    }

    .el-divider--horizontal {
        margin: 18px 0;
    }
}

.social-width {
    width: 135px;
    margin: auto;
}