<template>
  <header class="header main-bg pt-2 pb-2">
    <div class="container">
      <div class="header-container row align-center">
        <router-link to="/" class="header-logo d-block">
          <img src="@/assets/img/logo.png" alt="Logo 800fix" class="d-block" />
        </router-link>
        <div class="header-navigation d-flex align-center f-fill">
          <HeaderSearch class="mr-auto" />

          <SelectCity class="ml-3 mr-3" />

          <Language class="ml-3 mr-3" />

          <User class="ml-3" />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import HeaderSearch from "./components/HeaderSearch";
import SelectCity from "./components/SelectCity";
import Language from "./components/Language";
import User from "./components/User";

export default {
  components: {
    HeaderSearch,
    SelectCity,
    Language,
    User,
  },
  mounted() {
    // post, delete, put, patch   => data json da malumot keladi.
    // get                        => da link ga qowib yuboriladi.
    // console.log(this.$store);
    // this.$http.get('sliders/show?slug=home-slider&lang=en')
    // .then(res => {
    //   this.$commit('auth/SET_TOKEN', res.data);
    //   this.$getters('auth/username');
    // })
    // .catch(err => {
    //   console.log(err);
    // })
  },
};
</script>

<style>
</style>