
.app-button {
    background: $main-color;
    display: inline-block;
    font-family: $cairo-semiBold;
    color: #1c1c1c;

    &:hover {
        background: $main-color-hover;
    }

    & i {
        top: 0;
        right: 0;
        font-size: 12px;
        font-weight: bold;
    }
}

.no-icon {

    & i {
        display: none;
    }
}