

.app-input-group {
    background: #fff;
    border-radius: .25rem;

    & i {
        right: 2px;
        top: 0;
        font-size: 1.1rem;
    }
}

.app-input {
    border: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    min-height: 36px;
}

.is-invalid {
    border-color: $--color-danger !important;

    & + i {
        color: $--color-danger !important;
    }
}

.is-valid {

    & + i.el-icon-circle-check {
        color: $--color-success !important;
    }
}

.app-input__medium {
    min-width: 275px;
}

.base-label {

    &__title {
        font-size: 13px;
        font-family: $cairo-semiBold;
        color: #1c1c1c;
    }

    & .app-input {
        border: 1px solid $border-color;
    }
}

::placeholder {
    font-family: $cairo-regular;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: $cairo-regular;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-family: $cairo-regular;
}