<template>
  <div id="app">
    <TheHeader />
    <router-view />
  </div>
</template>

<script>
import TheHeader from "./layout/TheHeader";
export default {
  components: {
    TheHeader
  }
};
</script>

<style></style>
