<template>
    <div class="sign-wrap">
        <div class="sign-in-wrap" v-if="signIn">
            <img src="@/assets/img/def-img.png" alt class="sign-wrap__img p-absolute"/>

            <form @submit.prevent="login" class="sign-form pt-5" data-validation="form">
                <AppInput
                    class="mb-4"
                    v-model="userData.username"
                    :data="{
                      title: 'Username',
                      type: 'text',
                      placeholder: 'Type Username',
                    }"
                />

                <AppInput
                    class="mb-4"
                    v-model="userData.password"
                    :data="{
                      title: 'Password',
                      type: 'password',
                      placeholder: 'Type Password',
                    }"
                />

                <div class="d-flex f-between">
                    <el-checkbox v-model="savePasswordCheckbox">Save password</el-checkbox>

                    <router-link to="/" class="warning-text-color">Reset password</router-link>
                </div>

                <AppButton
                    class="w-100 mt-4 mb-4"
                    :data="{
                      text: 'Login',
                      type: 'submit',
                      hasIcon: false,
                    }"
                />

                <div class="social social-width">
                    <el-divider>
                        <span class="text-divider">or</span>
                    </el-divider>
                    <div class="d-flex f-around">
                        <router-link to="/" class="social__items w-2 h-2 child-center rounded-circle">
                            <img src="@/assets/img/icon/img-fb.png" alt="Facebook Icon" class="d-block w1-25 h1-25"/>
                        </router-link>

                        <router-link to="/" class="social__items w-2 h-2 child-center rounded-circle">
                            <img src="@/assets/img/icon/img-tw.png" alt="Twitter Icon" class="d-block w1-25 h1-25"/>
                        </router-link>

                        <router-link to="/" class="social__items w-2 h-2 child-center rounded-circle">
                            <img src="@/assets/img/icon/img-gp.png" alt="Google Icon" class="d-block w1-25 h1-25"/>
                        </router-link>
                    </div>
                </div>

                <div
                    class="text-outer-layer p-absolute w-100 text-center text-white pointer"
                    @click="signIn = !signIn"
                >
                    Don't have account ? <span class="text-underline">Register</span>
                </div>
            </form>
        </div>

        <div class="sign-up-wrap" v-else>
            <h1 class="h2-title mb-3">Sign Up</h1>

            <form>
                <AppCircle
                    class="mb-5 pointer"
                    :width="75"
                    :borderWidth="2"
                    :borderColor="'#ffba00'"
                    :borderStyle="'solid'"
                    :image="require('@/assets/img/def-img.png')"
                >
                    <template #text="{text}">
                        <div class="upload-icon p-absolute w-2 h-2 rounded-circle child-center main-bg">
                            <img src="@/assets/img/icon/icon-photo.png" class="d-block" alt="">
                        </div>
                    </template>
                </AppCircle>

                <el-row :gutter="20">
                    <el-col :span="12">
                        <AppInput
                            class="mb-4"
                            v-model="userData.username"
                            :data="{
                        title: 'First name',
                        type: 'text',
                        placeholder: 'Type Name',
                      }"
                        />
                    </el-col>
                    <el-col :span="12">
                        <AppInput
                            class="mb-4"
                            v-model="userData.username"
                            :data="{
                            title: 'Last name',
                            type: 'text',
                            placeholder: 'Type Last Name',
                          }"
                        />
                    </el-col>
                    <el-col :span="12">
                        <AppInput
                            class="mb-4"
                            v-model="userData.username"
                            :data="{
                            title: 'Username',
                            type: 'text',
                            placeholder: 'Type Username',
                          }"
                        />
                    </el-col>
                    <el-col :span="12">
                        <AppInput
                            class="mb-4"
                            v-model="userData.username"
                            :data="{
                            title: 'Email',
                            type: 'text',
                            placeholder: 'Type Email',
                          }"
                        />
                    </el-col>
                    <el-col :span="12">
                        <AppInput
                            class="mb-4"
                            v-model="userData.username"
                            :data="{
                            title: 'Phone',
                            type: 'text',
                            placeholder: 'Type Phone',
                          }"
                        />
                    </el-col>
                    <el-col :span="12">
                        <AppInput
                            class="mb-4"
                            v-model="userData.username"
                            :data="{
                            title: 'Create Password',
                            type: 'password',
                            placeholder: 'Type Password',
                          }"
                        />
                    </el-col>
                    <el-col :span="12">
                        <AppInput
                            class="mb-4"
                            v-model="userData.username"
                            :data="{
                            title: 'Repeat Password',
                            type: 'password',
                            placeholder: 'Type Repeat Password',
                          }"
                        />
                    </el-col>
                </el-row>

                <p class="text-center text-small mt-2">
                    By creating account you agree to our
                    <router-link to="/" class="text-underline text-inherit">terms and conditions</router-link>
                </p>

                <AppButton
                    class="w-100 mt-4 mb-4"
                    :data="{
                    text: 'Sign Up',
                    type: 'submit',
                    hasIcon: false,
                  }"
                />

                <div class="social social-width">
                    <el-divider>
                        <span class="text-divider">or</span>
                    </el-divider>
                    <div class="d-flex f-around">
                        <router-link to="/" class="social__items w-2 h-2 child-center rounded-circle">
                            <img src="@/assets/img/icon/img-fb.png" alt="Facebook Icon" class="d-block w1-25 h1-25"/>
                        </router-link>

                        <router-link to="/" class="social__items w-2 h-2 child-center rounded-circle">
                            <img src="@/assets/img/icon/img-tw.png" alt="Twitter Icon" class="d-block w1-25 h1-25"/>
                        </router-link>

                        <router-link to="/" class="social__items w-2 h-2 child-center rounded-circle">
                            <img src="@/assets/img/icon/img-gp.png" alt="Google Icon" class="d-block w1-25 h1-25"/>
                        </router-link>
                    </div>
                </div>
            </form>

            <div
                class="text-outer-layer p-absolute w-100 text-center text-white pointer"
                @click="signIn = !signIn"
            >
                Back to <span class="text-underline">Login Page</span>
            </div>
        </div>
    </div>
</template>

<script>
import AppInput from "../BaseComponents/Input";
import AppButton from "../BaseComponents/Button";
import AppCircle from '../BaseComponents/Circle'

export default {
    data() {
        return {
            savePasswordCheckbox: false,
            userData: {
                username: null,
                password: null,
            },
            signIn: true
        };
    },
    watch: {
        signIn() {
            console.log('changed')
        }
    },
    components: {
        AppInput,
        AppButton,
        AppCircle
    },
    methods: {
        login() {
            this.$http.post("auth/login", this.userData)
                .then((res) => {
                    console.log(res);
                    // this.$emit("closeModal");
                })
                .catch((err) => {
                    console.log(err)
                })
            ;

            // this.$http
            //   .post("auth/login", this.userData)
            //   .then((res) => {
            //     this.$emit("closeModal");

            //     this.$commit("auth/SET_TOKEN", res.data.token);
            //     this.$commit("auth/SET_USER_DATA", res.data.user);

            //     this.$notify.success({
            //       title: `Приветствую ${res.data.user.first_name}`,
            //       message: "Вы успешно вошли в систему",
            //     });

            //     this.userData.username = this.userData.password = null;
            //   })
            //   .catch((err) => {
            //     if (err.status == "401") {
            //       this.$notify.error({
            //         title: "Ошибка входа",
            //         message: "Неверные учетные данные",
            //       });
            //     }

            //     this.$formIsValid();
            //   });
        },
    },
};
</script>

<style>
</style>