<template>
  <label class="base-label d-block">
    <span class="base-label__title d-block mb-1">{{data.title}}</span>
    <div class="app-input-group p-relative">
      <input
        :value="value"
        @input="$emit('input', $event.target.value)"
        :type="data.type"
        :placeholder="data.placeholder"
        class="app-input w-100"
      />
      <i class="el-icon-warning-outline p-absolute w-2 h-100 child-center"></i>
    </div>
  </label>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    },
    data: {
      type: Object,
      default: () => ({})
    }
  }
};
</script>

<style>
</style>